<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>La base de peliculas/series</title>
</head>
<body style="background-color:rgb(0, 105, 0);">
    <nav class="navbar navbar-light bg-light static-top">
        <div class="container">
            <a class="navbar-brand" href="{% url 'inicio' %}">INICIO</a>
            <a class="btn btn-dark" href="{% url 'peliculas' %}">PELICULAS</a>
            <a class="btn btn-dark" href="{% url 'actores' %}">ACTORES</a>
            <a class="btn btn-dark" href="{% url 'series' %}">SERIES</a>
            <a class="btn btn-primary" href="#signup">REGISTRARSE</a>
        </div>
    </nav>
    <header class="masthead">
        <div class="container position-relative">
            <div class="row justify-content-center">
                <div class="col-xl-6">
                    <div class="text-center text-white">
                                                
                        {% block titulo %}

                        {% endblock %}
                                                
                    </div>
                </div>
            </div>
        </div>
    </header>
    {% block contenido %}

    {% endblock %}
</body>
</html>