{% extends 'AppCoder/padre.html' %}

{% load static %}

{% block titulo %}
<h1 style="color:rgb(0, 73, 0);">RESULTADO DE LA BUSQUEDA</h1>
{% endblock %}


{% block contenido %}
<h1>BUSQUEDA DE ACTORES</h1>
{% if actor %}
<ul>
    {% for nomb in actor %}
    <li>{{nomb.nombre}}</li>
    <li>{{nomb.nacimiento}}</li>
    <li>{{nomb.sexo}}</li>
    <li>{{nomb.nacionalidad}}</li>
    <li>{{nomb.participo}}</li>
    <br>
    {% endfor %}
</ul>
{% else %}
<p>NO SE ENCONTRARON ACTORES</p>
{% endif %}
{% endblock %}